<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact Us</title>
    <link rel="stylesheet" href="../assets/stylesheets/main.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <div id="theMainPage">
      <header>
        <nav id="menuItems" class="sidePanel">
          <!--mySidePanel-->
          <a class="closeBtn">x</a>
          <a href="../index.html">Home</a>
          <a href="./products.html">Products</a>
          <a href="./cart.html">Cart</a>
        </nav>

        <div class="input-group">
          <input
            type="text"
            class="form-control"
            placeholder="Search the Products"
          />
          <div class="input-group-append">
            <button class="btn btn-secondary" type="button">
              <i class="fa fa-search"></i>
            </button>
          </div>
        </div>
        <a href="#" id="cart" class="fa fa-shopping-cart"></a>
        <a href="#" class="fa fa-facebook"></a>
        <a href="#" class="fa fa-snapchat-ghost"></a>
        <a href="#" class="fa fa-instagram"></a>

        <button class="openBtn">☰Menu</button>
        <hr />
      </header>

      <h1>Working on it</h1>
    </div>
    <script src="../assets/javascript/contact.js"></script>
  </body>
</html>
